@use 'colors' as c;
$font-family-h: 'Fraunces', serif;

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}
.subtitle{
  color: c.$Very-dark-desaturated-blue;
  font-family: $font-family-h;
  font-size: 3.5rem;
  font-weight: 900;
  margin-block-end: 2rem;

  &-sm{
    @extend .subtitle;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    
    color: c.$Grayish-blue;
  }
}
.cta{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-family: $font-family-h;
  color: c.$Very-dark-desaturated-blue;
  cursor: pointer;

  transition: opacity 0.2s ease-in;

  position: relative;
 
  &::before{
    content: '';
    width: 110%;
    height:8px;
    border-radius: 5px;


    position: absolute;
    bottom: 0;
    left: -5%;
    right: 0;
    z-index: -1;

    background-color: c.$Yellow;
    opacity: 0.3;
    &:hover{
      opacity: 0.8;
    }
    
  }
  &-m{
    @extend .cta;

    &::before{
      background-color: c.$Soft-red;
    }
  }

  &:hover::before{
    opacity: 1;
  }

}
.brand{
  img{
    width: 100%;
  }
  &__content{
    text-align: center;
    padding: 8rem 2.5rem;
    max-width: 45rem;
    margin: 0 auto;

    .paragraph{
      font-weight: 600;
      line-height: 1.5;
      color: c.$Dark-grayish-blue;
      margin-block-end: 2.5rem;
    }
  }
}
.service{
  height: 65vh;
  text-align: center;
  padding: 40rem 2.5rem 8rem;

  color: c.$Very-dark-grayish-blue;
  
  background-image: url('../images/mobile/image-graphic-design.jpg');
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
  
  .subtitle-s{
    @extend.subtitle;
    color: c.$Dark-desaturated-cyan-gd;
    font-size: 3.25rem;
  }
  .paragraph{
    margin: 0 auto;
    max-width: 35rem;
    font-size: 1.55rem;
  }

  &-m{
    @extend .service;
    background-image: url('../images/mobile/image-photography.jpg');
  }

  @media (min-width:600px){
    background-position: center;
  }

}

.card__testimonial{
  padding: 5rem 2.25rem;
  text-align: center;

  img{
    max-width: 15%;
    border-radius: 50%;
  }
  .paragraph{
    color:c.$Dark-blue-text;
    line-height: 1.4;
    max-width: 38rem;
    margin: 0 auto;
    margin-block: 2.5rem;
  }
  .testimonial__info{

    .name{
      font-family: $font-family-h;
      font-weight: 700;
    }
    .pos{
      color: c.$Grayish-blue;
      font-size: 1.5rem;
    }
  }
}